/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffictop {
  width: 15px;
  height: 100px;
  background-color: black;
}

.redlight {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 30px;
  box-sizing: border-box;
  border: 20px solid black;
  margin: 0px;
}

.redlightselected {
  width: 100px;
  height: 100px;
  background-color: red;
  padding: 30px;
  box-sizing: border-box;
  border: 20px solid black;
  margin: 0px;
  box-shadow: inset 0 0 10px 5px rgb(255, 255, 255), 0 0 10px 5px rgba(255, 0, 0, 0.5);
  border-radius: 50%;
}

.yellowlight {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 0, 0.5);
  padding: 30px;
  box-sizing: border-box;
  border: 20px solid black;
  margin: 0px
}

.yellowlightselected {
  width: 100px;
  height: 100px;
  background-color: yellow;
  padding: 30px;
  box-sizing: border-box;
  border: 20px solid black;
  margin: 0px;
  box-shadow: inset 0 0 10px 5px rgb(255, 255, 255), 0 0 10px 5px rgba(255, 255, 0, 0.5);
  border-radius: 50%;
}

.greenlight {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 128, 0, 0.5);
  padding: 30px;
  box-sizing: border-box; 
  border: 20px solid black;
}

.greenlightselected {
  width: 100px;
  height: 100px;
  background-color: green;
  padding: 30px;
  box-sizing: border-box; 
  border: 20px solid black;
  box-shadow: inset 0 0 10px 5px rgb(255, 255, 255), 0 0 10px 5px rgba(0, 128, 0, 0.5);
  border-radius: 50%;
}

.purplelight {
  width: 100px;
  height: 100px;
  background-color: purple;
  padding: 30px;
  box-sizing: border-box; 
  border: 20px solid black;
}